# Discord Bot
DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=1495892091329318932
DISCORD_CLIENT_SECRET=4p-74qVlnwAOfFjYjqspTqC2bq-bz0QD

# Discord Config
GUILD_ID=1487800358850793485
APPROVAL_CHANNEL_ID=1495891503988477992
MEMBER_ROLE_ID=1495891020901126204
ADMIN_ROLE_ID=1487800359341785213

# Server
PORT=3000
SESSION_SECRET=your_super_secret_session_key_here
CALLBACK_URL=http://localhost:3000/auth/discord/callback

# MongoDB
MONGODB_URI=mongodb+srv://admin:Ido9220616@cluster0.qcoetbe.mongodb.net/katifa?appName=Cluster0

